{{>_header}}

<main>

    <div class="container">
        {{>_messages}}

        {{#if user}}
        <div class="row jumbotron mb-6 text-light bg-dark">
            <h1 class="mb-4 text-center">Bem vindo(a), {{user.nome}}!</h1>
            <p class="lead">Estamos muito felizes de ter você aqui!</p>
            <hr>
            <p class="text-center">Clique no botão abaixo para acessar o seu perfil</p>
            <p class="lead"></p>
            <p class="lead text-center">
                <a href="/{{user.nivel_usuario}}/panel/" role="button" class="btn btn-light btn-lg">Acessar seu perfil</a>
            </p>
            <p class="text-center">
                ou acesse o nosso <a href="/portal" class="text-light">portal de notícias.</a>
            </p>
        </div>
        {{else}}

        {{/if}}

        <div id="carousel" style="overflow: hidden; margin-bottom: 60px;">
            <button class="left-arrow">&lt;</button>
            <img src="/img/heading.webp" id="imager" alt="Capa do Projeto">
            <button class="right-arrow">&gt;</button>
        </div>

        {{#if user}}
        
        {{else}}

        <div id="jumbotron" class="row jumbotron mb-6 bg-orangered text-light">
            <h1 class="text-center mt-2 mb-4 display-4">Bem vindo ao projeto Vôlei para Todos!</h1>
            <p class="lead mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam esse vero necessitatibus ipsa. Iusto alias culpa cum. Placeat veritatis corrupti accusantium vel nam. Sequi ipsum quae, dolores unde saepe exercitationem?</p>
            <hr>
            <p>Faça <a href="/login">login</a> ou acesse nosso <a href="/portal">portal</a> para ser atualizado das últimas novidades.</p>
            <p class="lead text-center mt-4">
                <a href="#" role="button" class="btn btn-light btn-lg">Acessar Portal</a>
            </p>
            </p>
        </div>

        {{/if}}

        <div id="apresentacao" class="row mb-6">
            <h1>Quem Somos</h1>
            <p class="lead">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, optio! Nihil error repellendus praesentium non similique, dolor iusto quasi officiis facere repellat! Commodi dolores laudantium, distinctio adipisci vero cumque nostrum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum necessitatibus magnam id odit, in temporibus tempore voluptates eligendi ipsum aperiam nesciunt voluptate officiis iusto atque, iste, quo laborum. Commodi, saepe.
            </p>

            {{!-- <p class="lead"><strong>Nossa Equipe:</strong></p> --}}
            <div class="col mt-2 mb-2 image-gallery">
                <div class="card">
                    <img src="https://via.placeholder.com/200/f0c000" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Diretor
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/200/f0cefe" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Vice Diretor
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/200/ffd9b3" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Treinador
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/200/ff9999" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Instrutor
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/200/f0c000" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Coordenador
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/200/f0cefe" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Vice Coordenador
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/200/e6e6e6" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Secretário
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/200" alt="Placeholder Fill Image">
                    <div class="card-body text-center">
                        Secretário Regional
                    </div>
                </div>
            </div>
        </div>

        <div id="patrocinadores" class="row mb-6">
            <h1>Nossos Patrocinadores</h1>
            <p class="lead">Conheça esta equipe incrível que torna nossos sonhos possíveis:</p>
            <div id="galeria" class="col mb-4 image-gallery">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/ff4500/fff" alt="Placeholder Fill Image">
                </div>
            </div>

            {{#if user}}

            {{else}}
            <div class="row jumbotron">
                <h1 class="text-center mb-4">Faça parte da Nossa Equipe!</h1>
                <div class="col">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste unde nesciunt possimus dolorem, veritatis nulla accusantium numquam, similique adipisci a inventore quo quia magni? Dicta repellat laborum iusto modi.</p>
                </div>
            </div>
            {{/if}}

        </div>
    </div>

</main>

{{>_footer}}

<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>